/* General */

body{
  font-family: "Poppins", sans-serif;
  color: #343434;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6, .logo{
  font-family: 'Montserrat', sans-serif;
}

input.form-control:focus, textarea.form-control:focus{
  border-color: #dee2e6;
  box-shadow: none;
}

/* End General */

/* Start Nav */

.nav-links{
  font-size: 16px;
}

.navbar .active{
  position: relative !important;
}

.navbar li a::after{
  content: "";
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .active::after{
  width: 100%;
}

/* End Nav */


/* Start Header */

.header{
  background-image: url(../imgs/imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay{
  background-color: black;
  opacity: 0.65;
}




.main h1{
  font-weight: 900; 
}

.typer::after{
  content: "";
  font-weight: 600;
  animation: typer 5s alternate infinite;
}

@keyframes typer {
    0% { content: "|"; }
    2% { content: "L|"; }
    4% { content: "La|"; }
    6% { content: "Lar|"; }
    8% { content: "Larr|"; }
    10% { content: "Larry|"; }
    12% { content: "Larry D|"; }
    14% { content: "Larry Da|"; }
    16% { content: "Larry Dan|"; }
    18% { content: "Larry Dani|"; }
    20% { content: "Larry Danie|"; }
    22% { content: "Larry Daniel|"; }
    24% { content: "Larry Daniels|"; }
    26% { content: "Larry Daniel|"; }
    28% { content: "Larry Danie|"; }
    30% { content: "Larry Dani|"; }
    32% { content: "Larry Dan|"; }
    34% { content: "Larry Da|"; }
    36% { content: "Larry D|"; }
    38% { content: "Larry|"; }
    40% { content: "Larr|"; }
    42% { content: "Lar|"; }
    44% { content: "La|"; }
    46% { content: "L|"; }
    48% { content: "|"; }
    50% { content: "De|"; }
    52% { content: "Des|"; }
    54% { content: "Desi|"; }
    56% { content: "Desig|"; }
    58% { content: "Design|"; }
    60% { content: "Designe|"; }
    62% { content: "Designer|"; }
    64% { content: "Designe|"; }
    66% { content: "Design|"; }
    68% { content: "Desig|"; }
    70% { content: "Desi|"; }
    72% { content: "Des|"; }
    74% { content: "De|"; }
    76% { content: "|"; }
    78% { content: "D|"; }
    80% { content: "De|"; }
    82% { content: "Dev|"; }
    84% { content: "Deve|"; }
    86% { content: "Devel|"; }
    88% { content: "Develo|"; }
    90% { content: "Develop|"; }
    92% { content: "Develope|"; }
    94% { content: "Developer|"; }
    96% { content: "Develope|"; }
    98% { content: "Develop|"; }
    100% { content: "Develo|"; }
  }

  .social-icon{
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* End Header */

/* Start About */
#about .content img{
  z-index: 3;
  position: relative;
}

#about .content{
  position: relative;
  z-index: 1;
}

#about .content::after{
  content: "";
  position: absolute;
  z-index: 0;
  bottom: -30px;
  right: 30px;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/imgs/dots.png);
  background-repeat: repeat;
}

.titled h2{
  font-size: 32px;
  font-weight: 800;
}

.titled span{
  color: #999;
  letter-spacing: 2px;
  font-size: 14px;
}

.txt-content p{
  font-size: 15px;
  line-height: 24px;
  color: #748182;
}

.progress{

  height: 25px;
}


.element-1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-left: 6px;
  left: 0;
  top: 3px;
}

.element-2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-right: 6px;
  right: 0;
  top: 3px;
}


.buttons-contain button{
  padding: 10px 40px;
  font-size: 13px;
}

.btn-1{
  transition: all 0.5s;
}

.btn-1:hover{
  color: black !important;
  background-color: transparent !important;
  border: 1px solid black !important;
}

.btn-2{
  transition: all 0.5s;
}

.btn-2:hover{
  border: none !important;
  background-color: black !important;
  color: white !important;
}



/* End About */

/* Start Services */

#services{
  background-color: #F7F7F7;
}

.main-title{
  z-index: 3;
}

.main-title h3{
  font-weight: 900;
  position: relative;
  z-index: 1;
}

.main-title h3::after{
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/imgs/dots.png);
  background-repeat: repeat;
}

.my-card{
  background-color: white;
}

.icon-contain{
  background-color: #F0F0F0;
  width: 70px;
  height: 70px;
  transition: all 1s;
}

.my-card:hover .icon-contain{
  background-color: black !important;
  color: white !important;
}

.card-content h3{
  font-size: 18px;
  font-weight: 800;
}

.card-content p{
  color: #748182;
}



/* End Services */
    


/* Start Portfolio */

.img-overlay{
  width: 95%;
  height: 95%;
  opacity: 0;
  bottom: -2px;
  transition: all 0.5s;
}

.img-overlay h6{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.img:hover .img-overlay{
  bottom: 10px;
  opacity: 1;
}

.img:hover .img-overlay h6{
  margin-bottom: 15px;
}

.portfolio{
  background-color: transparent !important;
  color: black !important;
  font-weight: 700 !important;
  position: relative;
  padding: 0;
  margin: 0px 10px;
}

#portfolio .nav-pills .active::after{
  position: absolute;
  content: "";
  background-color: black;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 1s;
}


.img{
  width: 90%;
  height: 90%;
}

.icons{
  margin-top: 15px;
  transition: all 0.5s;

}

.img:hover .icons{
  margin-top: 2px;
}

.social-icon2{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid black;
  margin: 0px 2px;
}

.social-icon2:hover{
  background-color: white !important;
  color: black !important;
}

/* End Portfolio */

/* Start Testimonials */

#clients{
  background-color: #F7F7F7;
}

.img-contain{
  width: 90px;
  height: 90px;
}


.text p{
  color: #748182;
}

.text span{
  color: #888;
  font-weight: 600;
}

.text span, .text h6{
  font-size: 16px;
}

.carousel .active::after{
  background-color: transparent !important;
}

.carousel-indicators{
  bottom: -65px;
}

.item{
  background-color: #9a9a9a !important;
  opacity: 0.5 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  margin: 0px 7px !important;
}

.carousel .active{
  opacity: 1 !important;
}


/* End Testimonials */

/* Start Achievements */

.ach-content h3{
  font-size: 30px;
  font-weight: 900;
}

.ach-content p{
  font-size: 15px;
  color: #748182;
  font-weight: 600;
}


/* End Achievements */

/* Start Team */

#team{
  background-color: #F7F7F7;
}

.card-body{
  background-color: #5B5B5B !important;
}

.card-title{
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 500;
}

.card-subtitle{
  font-weight: 700;
  color: #FFFFFF !important;
  font-size: 20px;
}


#team .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  overflow: hidden;
}

.img-card{
  overflow: hidden;
  cursor: pointer;
}


.img-card img{
  z-index: 0;
}

.card-img-top{
  transition: all 0.5s;
}

.img-card:hover .card-img-top{
  transform: scale(1.25,1.25);
}



.social-overlay{
  z-index: 15;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: white;
  transform: rotateY(180deg) scale(0.5, 0.5);
  opacity: 0;
  transition: all 0.5s;
}

#team .card:hover .social-overlay{
  opacity: 0.95;
  transform: rotateY(0deg) scale(1, 1);
}


.social-icons .social-icon2{
  margin: 0px 8px;
  width: 40px;
  height: 40px;
}


/* End Team */

/* Start Contact */

.icon-contain2{
  background-color: #F0F0F0;
  width: 70px;
  height: 70px;
  transition: all 1s;
}

.contact-info:hover .icon-contain2{
  color: white !important; 
  background-color: black !important;
}

.contact-content h6{
  font-size: 16px;
  font-weight: 700;
  color: #343434;
}

.contact-content{
  color: #748182;
  font-size: 15px;
  font-weight: 400;
}

#contact textarea{
  width: 100%;
  height: 160px;
  max-height: 160px !important;
  max-width: 100% !important;
  resize: both;
}

#contact input, #contact textarea{
  background-color: #F4F4F4;
  border: none;
}

#contact input, #contact textarea{
  color: #343434 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

#contact .btn-1{
  padding: 10px 40px;
  font-size: 13px;
  transition: all 0.5s;
}

/* End Contact */





/* Start Footer */

#footer{
  background-color: #1C1C1C;
}

.txt-foot p{
  font-size: 13px;
  color: #748182;
  word-spacing: 2px;
}


/* End Footer */